@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Mate+SC);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
a{text-decoration: none;}

html{
    margin:0;
    padding:0;
    background: url('img/fondBlog.jpg') no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
body{
    background-color:rgba(248,248,248,0.95);
    margin:45px auto;
    width:520px;
    padding: 10px 20px;
    font-family: helvetica,sans-serif;
    font-size:13px;
    border-radius: 3px;

}

#header, header{
    text-align: center;
    margin-bottom:10px;
}

#header h1, header h1{
    font-family: "Lobster", Arial;
    font-size:3.5em;
    color: #4CADEB;
    text-shadow : 0 1px 0 white;
   
    margin-bottom:10px;
    /*background: url("img/post-sepa.gif") 0 bottom repeat-x;*/
}

#header h3, header h3{
    font-family: 'Mate SC', serif;
    color:#636363;
    font-size:1.5em;
}

.modalbox{
    margin-top: 30px;
}
.modalbox h3{
    color: black;
    font: 1.6em/20px 'Lobster',Arial,sans-serif;
    text-shadow: 0 1px 0 white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* Welcome box */
#welcome{
    background: url("img/meta-bg.jpg") repeat-x scroll 0 0 #4CADEB;
    border-bottom: 1px solid #449CD6;
    border-top: 1px solid #5BB4ED;
    color: #BDE4FD;
    display: block;
    margin-top : 10px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #E5E5E5!important;
    line-height: 20px;
    text-align: left;
    font: 1.2em 'Mate SC',Arial,sans-serif;
}

/* Form */
form label{
    font-family: 'Mate SC', serif;
    color:black;
    text-shadow: 1px 1px 0 #EEE;
    margin:10px 0;
    display: block;
}
form input {
    width:98%;
}
form textarea{
    width:98%;
    height:75px;
    margin-bottom:10px;
}

/* CSS Button */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}


/* class general */

.alignright{
    float:right;
}
.alignleft{
    float:left;
}
.clearfix{
    clear:both;
}

/* list Article */
article{
    margin-top: 10px;
}
.articlePost{
   background-color:rgba(255,255,255,0.95);
   border-radius: 3px;
}
.article h2, article h2{
    color: black;
    font: 1.8em/40px 'Lobster',Arial,sans-serif;
    text-shadow: 0 1px 0 white;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

.content{
    padding:5px 20px 1.2em 20px;
    color:#232323;
    line-height: 16px;
    text-align: justify;
}
.postmeta{
    /*background: url("img/meta-bg.jpg") repeat-x scroll 0 0 #4CADEB;*/
    color: #BDE4FD;
    display: block;
    padding: 10px;
    height:30px;
    position: relative;
    background: -moz-linear-gradient(top, #449CD6 0%, #5BB4ED 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#449CD6), color-stop(100%,#5BB4ED))!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#449cd6', endColorstr='#5bb4ed',GradientType=0 )!important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.postmeta:before{
    z-index: -2;
    position: absolute;
    background: transparent;
    width: 70%;
    height: 55%;
    content: '';
    left: 10px;
    bottom: 10px;
    -webkit-transform: skew(-15deg) rotate(-3deg);
    -webkit-box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.2);
    -moz-transform: skew(-15deg) rotate(-3deg);
    -moz-box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.2);
}
.postmeta:after{
    z-index: -1;
    position: absolute;
    background: transparent;
    width: 70%;
    height: 55%;
    content: '';
    right: 10px;
    bottom: 10px;
    -webkit-transform: skew(15deg) rotate(3deg);
    -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.2);
    -moz-transform: skew(15deg) rotate(3deg);
    -moz-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.2);
}


nav{
    border-color: rgb(180,180,180) !important;
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline-block;
}
nav a{
    color:#4CADEB;
    font-family: 'Mate SC', serif;
    padding: 10px;
    
}
nav a:hover{
    color:#3D33EB;
    transform-origin: 50% 50%;
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-name: animMenu;
    -webkit-animation-name: animMenu;
    animation-name: animMenu;
    
    /*-moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;*/
}

@-moz-keyframes animMenu {
  33%{
     transform: rotate(10deg); 
  }
  66%{
     transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);  
  }
  
}

@-webkit-keyframes animMenu {
 33%{
     transform: rotate(10deg); 
  }
  66%{
     transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);  
  }
  
}

@keyframes animMenu {
  33%{
     transform: rotate(10deg); 
  }
  66%{
     transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);  
  }
  
}

/* Style slider*/
.slider{
    position: relative;
    margin-bottom: 15px;
    border-radius: 3px;
    width:200px;
    height: 125px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.Limg img{
    width: 200px;
    height: 125px;
}
.Limg li{
    display: inline;

}
.Limg{
    position: absolute;
    width: 1500px;
    left:0px;
    transition: 0.3s;
   
}
.sliderButtons{
    text-align: center;
    margin-bottom: 15px;
}

.bReculer{
    padding: 5px;
}
.bAvancer{
    padding: 5px;
    margin-left: 10px;
}
